body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; /* Nova família de fontes */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New', Courier, monospace; /* Nova família de fontes */
}